/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
  
}

/* ============================================================
  SECTIONS
============================================================ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container > .navbar-header{
    margin-left: 2px;
    position: relative;
    top:21px;
}
.navbar-default {
  height: 114px;
  margin-bottom: 0px;  
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  top: 32px;
  position: relative;
}

.navbar-right li a {

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Raleway",sans-serif;
  letter-spacing: 2px;
  margin: 0 0 0 35px;
}

.about img {
  width: 100%;

}

.row {
  margin: 0px;
}



.chico{
  background-size: 100% 100%;
}



.bg {
  background: url(../assets/img/aboutme-bg.jpg) no-repeat scroll center top;
  padding: 90px 0 ;
}

.banner{
  background: url(../assets/img/shortcodes-banner.jpg) no-repeat center center;

}
.segundo{
    background: url(../assets/img/pricing-bg.jpg) no-repeat center center;

}
.grande{
      background: url(../assets/img/coming-bg.jpg) no-repeat center center;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
}
.touch{
      background: url(../assets/img/getintouch-bg.jpg) no-repeat center center;

}
.puntos {
  text-align: center;
}
 .bg{
  height: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
 }
 .banner {  
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  top: 5em;
  left: 0;
}
.cuadros{
  padding: 37px;
}
.coments{
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: -459px;
}
.banner-azul{
height: 100%;
}
.form-group{
  width: 20%;
  position: relative;
  float: left;

  
}
.footer {
  background: #233141;
 height: 240px;
}
.footer-menu{
  background: #151d26 ;
  height: 117px;
}
.container {
  max-width: 1200px;
  width: auto;
}
.whatido li {
  list-style: none;
  width: 25%;
  display: inline-block;
  margin: 0 0 30px;
  min-height: 100px;
  padding: 0 30px;
  position: relative;
  width: 24.5%;
  text-align: center;
}
