//agregar el resto de parciales para cada vista aqui
@import "home";

.flexive {
  top: -251px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  left: -57px;
}
.cura {
top: -142px;
left: -374px;
color: #c2c5cc;
font-size: 18px;
font-weight: normal;
line-height: 36px;
text-align: justify;

}
.dos{
	left: -430px;
}
.btn-primary{
top:-92px;
left: -41px;
background: #00adf0;
width: 262px;
height: 58px;
margin: 30px 0 0;
padding: 16px 79px;
}
.flexive,.cura,.btn{
	position: relative;
	float: left;

}
.hosting {
	left:288px;
}
.bussines h3{
 color: #fff;
  font-size: 48px;
  font-weight: 700;
  top: -101px;
  position: relative;
}

.bussines p {

color: #c2c5cc;
font-size: 18px;
font-weight: normal;
line-height: 36px;
top: -90px;
position: relative;
}
.regular p, .bussines p, .carousel-caption p{
	 font-family: "Raleway",sans-serif;
}

.whatido li p {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 10px 0 13px;
  text-transform: uppercase;
  font-family: "Raleway",sans-serif;
}
.whatido li  span {
line-height: 25px;
margin: 33px 0 0;
 font-family: "Raleway",sans-serif;

}
.ido{
height: 529px;
position: relative;
}
.do {
	position: relative;
	top: 132px;
}
@font-face { 
    font-family:Raleway-Bold ;
    src: url(../assets/tipografia/Raleway-Bold.ttf);
}
@font-face { 
    font-family:Raleway-Bold ;
    src: url(../assets/tipografia/Raleway-Light.ttf);
}
.btn-btn{
	height: 49px;
	position: relative;
	 left: 7px;
  	top: 130px;
  	background: #00adf0;
  border: 0 none;
  border-radius: 5px;

  font-weight: 700;
  padding: 13px 41px;
  text-transform: uppercase;
  width: 22%;
  display: inline;
  }
  .about h4 {
position: relative;
left: -194px;
font-size: 32px;
font-weight: 700;
margin: 0px 0px;
width: 17%;
display: inline-block;
top: -25px;
}
.about p {
display: inline-block;
  position: relative;
  top: 70px;
  left: -350px;
  width: 43%;
  color: #7a7c80;
  font-size: 18px;
  line-height: 30px;
   font-family: "Raleway",sans-serif;
}

.about {
width: 76%;
}
.about ul li {
  position: relative;
  left: 170px;
  width: 51%;
  margin: 0px auto;
  list-style: none;
  top: -69px;
  padding: 11px;
  }
.about li img {
	width: 3%;
}
.about li span {
font-family: "Raleway",sans-serif;
position: relative;
left: 12px;	
}
.play img {
	width: 3.5%;
}
.play {
position: relative;
left: 951px;
top: -200px;
display: inline;
}
.puntos {
	position: relative;
	top: 60px;
}
.iphone {
position: relative;
top: 37px;
left: 109px;
width: 91%;
display: inline-block;

}
.puntos h4,.puntos p {
	font-family:  "Raleway",sans-serif;
}
.puntos h4{
	font-size: 40px;
}
.puntos p {
color: #7a7c80;
  font-size: 18px;
  margin: 0 0 73px;
  position: relative;
  top: 10px;
}
li {
	list-style: none;
}
.iphone2{
	position: relative;
	left: 90px;
}
.iphone2 img {
position: relative;
top: -54px;
left: 10px;
}
.iphone2 h5{
  position: relative;
  left: 83px;
  top: 63px;
  font-family:"Raleway",sans-serif;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 18px;
  text-transform: uppercase;
}
.iphone2 p {
 position: relative;
  left: 83px;
  top: 56px;
  font-family:"Raleway",sans-serif;
  line-height: 25px;

}
.iphone3 img {
position: relative;
top: 49px;
left: 49px;
}
.iphone3{
	position: relative;
	left: 90px;
}
.iphone3 h5{
  position: relative;
  left: -99px;
  top: 14px;
  font-family:"Raleway",sans-serif;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 18px;
  text-transform: uppercase;
}
.iphone3 p {
 position: relative;
  left: -206px;
  top: 5px;
  font-family:"Raleway",sans-serif;
  line-height: 25px;
  text-align: right;

}
.btn-banner{
	position: relative;
	left: 1039px;
	top: 117px;
}
.banner p {
color: #c2c5cc;
font-size: 18px;
line-height: 33px;
font-family:"Raleway",sans-serif;
position: relative;
top: 139px;
display: inline-block;
right: 58px;



}
.puntos p{
	 font-family:"Raleway",sans-serif;
}
.numeros p {
	 font-family:"Raleway",sans-serif;
	 font-weight: 600;

}
.numeros img {
left: 156px;
position: relative;
top: 17px;

}
.numeros1{
position: relative;
top: 41px;
height: 270px;
}
 .numeros p  {
position: relative;
top: 38px;
left: 100px;
font-weight: 600;
letter-spacing: 2px;
margin: 24px 0 11px;
text-transform: uppercase;
}
.numeros span {	
font-size: 36px;
position: relative;
top: 48px;
left: 149px;
font-size: 36px;
font-weight: 600;
}
.banner-azul {
	width: 100%;
}
.num{
	position: relative;
	left: 112px !important;
}
.pricing {
	position: relative;
	top: 220px;
  height: 20%;
}
.tables {
	position: relative;
	top: 250px;
}
.bk-tables{
	text-align: center;
  padding: 50px 28px 55px;
  background: #fff;
  margin: 0 0 30px;
}
.pricing-t{
  height: 120%;
}
